#readme {
    border-top: thin solid #c1c4ca;
    padding-top: 48px;

    h1, h2, h3, h4, h5, h6, p, pre, ul, ol, dl {
        margin-top: 18px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }

    ul > li {
        list-style: disc inside none;
    }

    ol > li {
        list-style: decimal inside none;
    }

    pre {
        overflow: auto;
        color: #fff;
        padding: 10px;
    }

    .anchor[aria-hidden="true"] {
        display: none;
    }

    /* hover color and transition is based on the rules for
       "a.t-list__item". */
    a {
        font-weight: bold;
        text-decoration: underline;
        color: #000;
        transition-duration: 0.25s;
        transition-property: color;

        &:visited {
            color: #666;
        }
        &:hover {
            color: #fa3c29;
        }
    }
}
