.readme_box {
    /* This style is for error message.
       If readme is not found, `div#readme` is not created,
       and error message goes in `div.readme_box`. */
    color: #000;
}

#readme {
    background-color: #ECE5D6;
    padding: 3em;

    h1, h2, h3, h4, h5, h6 {
        color: #a00;
        margin: 1em 0;
        &:first-child {
            margin-top: 0; /* Because `div#readme` has padding... */
        }
    }
    h1 { font-size: 2.5em; }
    h2 { font-size: 2.0em; }
    h3 { font-size: 1.8em; }
    h4 { font-size: 1.6em; }
    h5 { font-size: 1.3em; }
    h6 { font-size: 1.0em; }

    p, ol, ul {
        font-size: 1rem;
    }

    p {
        margin: 1em 0;
    }

    ol, ul {
        margin: 1.5em;
    }

    ol {
        list-style: decimal outside none;
    }

    ul {
        list-style: disc outside none;
    }

    pre {
        font-size: 0.8rem;
        line-height: normal;
        margin: inherit;
    }

    *:not(pre) > code {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        color: inherit;
        padding: 2px;
    }

    .highlight {
        border-radius: 10px;
        pre {
            text-shadow: none;
            padding: 0.8rem;
        }
    }
}